<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964697255427-lh55akkjs2g14o0eemkq7r1v584d4jdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964697255427-lh55akkjs2g14o0eemkq7r1v584d4jdb</string>
	<key>API_KEY</key>
	<string>AIzaSyAGsypsNbGxte1TSdJhThZ7jSWPdNApGFc</string>
	<key>GCM_SENDER_ID</key>
	<string>964697255427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nwmsu.InternshipManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>internshipmanagementsyst-e9f1e</string>
	<key>STORAGE_BUCKET</key>
	<string>internshipmanagementsyst-e9f1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964697255427:ios:c37a220131652307c96836</string>
</dict>
</plist>